@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a asp-controller="Peliculas" asp-action="Index">Lista de películas disponibles</a>
</div>
